In [32]:
import pandas as pd

In [33]:
df_enrol=pd.read_csv("enrollment_train.csv")
df_log=pd.read_csv('log_train.csv')
df_truth=pd.read_csv('truth_train.csv')

In [34]:
df_enrol

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd
...,...,...,...
120537,200898,mAAuxtPoEddxQ2jPmf6WwqHOgdvhqrk2,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J
120538,200900,y6i20DJpIul6LihHwgZcWxbdAap5GcBP,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J
120539,200901,PPEydg4GXh52QanXuUYKbv8ENUSViBbd,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J
120540,200904,7k4xZXZirLFjbh80SpWNqJdTubgGglfv,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J
120541,200905,BkfFw6aGeg8z9X1r3mUU3zfbncCxICtg,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J

In [35]:
df_log

,enrollment_id,time,source,event,object
0,1,2014-06-14T09:38:29,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b
1,1,2014-06-14T09:38:39,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
2,1,2014-06-14T09:38:39,server,access,qxvBNYTfiRkNcCvM0hcGwG6hvHdQwnd4
3,1,2014-06-14T09:38:48,server,access,2cmZrZW2h6Il91itO3e89FGcABLWhf3W
4,1,2014-06-14T09:41:49,browser,problem,RMtgC2bTAqEeftenUUyia504wsyzeZWf
...,...,...,...,...,...
8157272,200901,2014-07-24T14:11:31,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157273,200901,2014-07-24T14:11:32,browser,video,HdMvr3A6vQzym6Xl0tOXpNbfHOyohlKE
8157274,200901,2014-07-24T14:11:41,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157275,200904,2014-07-24T15:07:50,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG
8157276,200905,2014-07-24T15:41:51,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG

In [36]:
df_truth

        enrollment_id  Target
0                   1       0
1                   3       0
2                   4       0
3                   5       0
4                   6       0
...               ...     ...
120537         200898       1
120538         200900       1
120539         200901       1
120540         200904       1
120541         200905       1

[120542 rows x 2 columns]

In [37]:
final_dataset=df_enrol.merge(df_truth ,how='left', on='enrollment_id')

In [38]:
final_dataset

,enrollment_id,username,course_id,Target
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,0
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,0
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,0
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,0
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,0
...,...,...,...,...
120537,200898,mAAuxtPoEddxQ2jPmf6WwqHOgdvhqrk2,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1
120538,200900,y6i20DJpIul6LihHwgZcWxbdAap5GcBP,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1
120539,200901,PPEydg4GXh52QanXuUYKbv8ENUSViBbd,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1
120540,200904,7k4xZXZirLFjbh80SpWNqJdTubgGglfv,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1
120541,200905,BkfFw6aGeg8z9X1r3mUU3zfbncCxICtg,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1

In [39]:
df_log=df_log.drop(columns='object')
df_log=df_log.drop(columns='time')

In [40]:
print(df_log['source'].unique())

['server' 'browser']

In [41]:
print(df_log['event'].unique())

['navigate' 'access' 'problem' 'page_close' 'video' 'discussion' 'wiki']

In [42]:
df_log['source'].value_counts()

server     4287337
browser    3869940
Name: source, dtype: int64

In [43]:
df_log['event'].value_counts()

access        3112191
problem       1261170
page_close    1237883
navigate      1009309
video          796958
discussion     649259
wiki            90507
Name: event, dtype: int64

In [44]:
one_hot_encoded_data = pd.get_dummies(df_log, columns = ['source','event'])

In [45]:
one_hot_encoded_data

,enrollment_id,source_browser,source_server,event_access,event_discussion,event_navigate,event_page_close,event_problem,event_video,event_wiki
0,1,0,1,0,0,1,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0
2,1,0,1,1,0,0,0,0,0,0
3,1,0,1,1,0,0,0,0,0,0
4,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
8157272,200901,1,0,0,0,0,1,0,0,0
8157273,200901,1,0,0,0,0,0,0,1,0
8157274,200901,1,0,0,0,0,1,0,0,0
8157275,200904,0,1,0,0,1,0,0,0,0
8157276,200905,0,1,0,0,1,0,0,0,0

In [46]:
result = one_hot_encoded_data.groupby('enrollment_id')['source_browser','source_server','event_access','event_discussion','event_navigate','event_page_close','event_problem','event_video','event_wiki'].aggregate('sum')

C:\Users\Admin\AppData\Local\Temp/ipykernel_3328/4142735903.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = one_hot_encoded_data.groupby('enrollment_id')['source_browser','source_server','event_access','event_discussion','event_navigate','event_page_close','event_problem','event_video','event_wiki'].aggregate('sum')

In [47]:
result

,source_browser,source_server,event_access,event_discussion,event_navigate,event_page_close,event_problem,event_video,event_wiki
enrollment_id,,,,,,,,,
1,195.0,119.0,107.0,0.0,25.0,66.0,87.0,29.0,0.0
3,200.0,88.0,79.0,26.0,14.0,22.0,138.0,9.0,0.0
4,19.0,80.0,64.0,0.0,15.0,10.0,6.0,4.0,0.0
5,431.0,202.0,226.0,34.0,30.0,87.0,170.0,86.0,0.0
6,6.0,17.0,12.0,0.0,5.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
200898,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
200900,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
200901,3.0,5.0,3.0,0.0,2.0,2.0,0.0,1.0,0.0
200904,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
200905,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [48]:
final_dataset=final_dataset.merge(result,how='left', on='enrollment_id')

In [49]:
final_dataset

,enrollment_id,username,course_id,Target,source_browser,source_server,event_access,event_discussion,event_navigate,event_page_close,event_problem,event_video,event_wiki
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,0,195.0,119.0,107.0,0.0,25.0,66.0,87.0,29.0,0.0
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,0,200.0,88.0,79.0,26.0,14.0,22.0,138.0,9.0,0.0
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,0,19.0,80.0,64.0,0.0,15.0,10.0,6.0,4.0,0.0
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,0,431.0,202.0,226.0,34.0,30.0,87.0,170.0,86.0,0.0
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,0,6.0,17.0,12.0,0.0,5.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120537,200898,mAAuxtPoEddxQ2jPmf6WwqHOgdvhqrk2,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120538,200900,y6i20DJpIul6LihHwgZcWxbdAap5GcBP,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120539,200901,PPEydg4GXh52QanXuUYKbv8ENUSViBbd,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1,3.0,5.0,3.0,0.0,2.0,2.0,0.0,1.0,0.0
120540,200904,7k4xZXZirLFjbh80SpWNqJdTubgGglfv,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120541,200905,BkfFw6aGeg8z9X1r3mUU3zfbncCxICtg,9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [50]:
final_dataset.course_id.value_counts()

81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv    12004
DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila    10322
I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO     9382
H2lDW05SyKnwntZ6Fora76aPAEswcMa5     8223
AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd     7775
SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw     5890
ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ     4896
shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI     4684
9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz     4307
V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE     4010
NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt     3005
5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6     2992
a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh     2981
xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1     2796
1pvLqtotBsKv7QSOsLicJDQMHx3lui6d     2392
A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3     2269
3cnZpv6ReApmCaZyaQwi2izDZxVRdC01     2207
fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi     2151
Er0RFawC4sHagDmmQZcBGBrzamLQcblZ     2055
3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or     2008
nSfGxfEtzw5G72fVbfaowxsV46Pg1xIc     2004
Wm3dddHSynJ76EJV6hyLYKGGRL0JF3YK     1933
bWdj2GDclj5ofokWjzoa5jAwMkxCykd6     1878
7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx     1481
DABrJ6O4AotFwuAbfo1fuMj40VmMpPGX     1476
9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J     1471
mTmmr5zd8l4wXhwiULwjSmSbi9ktcFmV     1430
q6A6QG7qMpyNcznyT2XaIxnfNGkZRxXl     1402
9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x     1240
HbeAZjZFFQUe90oTP0RRO0PEtRAqU3kK     1235
G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu     1187
X78EhlW2JxwO1I6S3U4yZVwkEQpKXLOj     1187
TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx     1185
RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt     1038
tXbz2ZYaRyb2ZsWUBPoYzAmisOhHQrYl      973
5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2      898
gvEwgd64UX4t3K7ftZwXiMkFuxFUAqQE      769
KHPw0gmg1Ad3V07TqRpyBzA8mRjj7mkt      761
WM572q68zD5VW8pcvVTc1RhhFUq3iRFN      645
Name: course_id, dtype: int64

In [51]:
final_dataset['course_id'] = final_dataset['course_id'].replace('81UZtt1JJwBFYMj5u38WNKCSVA4IJSDv','0')
final_dataset['course_id'] = final_dataset['course_id'].replace('DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila','1')
final_dataset['course_id'] = final_dataset['course_id'].replace('I7Go4XwWgpjRJM8EZGEnBpkfSmBNOlsO','2')
final_dataset['course_id'] = final_dataset['course_id'].replace('H2lDW05SyKnwntZ6Fora76aPAEswcMa5','3')
final_dataset['course_id'] = final_dataset['course_id'].replace('AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd','4')
final_dataset['course_id'] = final_dataset['course_id'].replace('SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw','5')
final_dataset['course_id'] = final_dataset['course_id'].replace('ykoe1cCWK134BJmfbNoPEenJOIWdtQOZ','6')
final_dataset['course_id'] = final_dataset['course_id'].replace('shM3Yy9vxHn2aqjSYfQXOcwGo0hWh3MI','7')
final_dataset['course_id'] = final_dataset['course_id'].replace('9Bd26pfDLvkPINwLnpaGcf0LrLUvY1Mz','8')
final_dataset['course_id'] = final_dataset['course_id'].replace('V4tXq15GxHo2gaMpaJLZ3IGEkP949IbE','9')
final_dataset['course_id'] = final_dataset['course_id'].replace('NmbZ3BmS8V4pMg6oxXHWpqqMZCE1jvYt','10')
final_dataset['course_id'] = final_dataset['course_id'].replace('5Gyp41oLVo7Gg7vF4vpmggWP5MU70QO6','11')
final_dataset['course_id'] = final_dataset['course_id'].replace('a2E7NQC7nZB7WHEhKGhKnKvUWtsLAQzh','12')
final_dataset['course_id'] = final_dataset['course_id'].replace('xMd9DzNyUCTLRPVbwWVzf4vq06oqrTT1','13')
final_dataset['course_id'] = final_dataset['course_id'].replace('1pvLqtotBsKv7QSOsLicJDQMHx3lui6d','14')
final_dataset['course_id'] = final_dataset['course_id'].replace('A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3','15')
final_dataset['course_id'] = final_dataset['course_id'].replace('3cnZpv6ReApmCaZyaQwi2izDZxVRdC01','16')
final_dataset['course_id'] = final_dataset['course_id'].replace('Er0RFawC4sHagDmmQZcBGBrzamLQcblZ','17')
final_dataset['course_id'] = final_dataset['course_id'].replace('3VkHkmOtom3jM2wCu94xgzzu1d6Dn7or','18')
final_dataset['course_id'] = final_dataset['course_id'].replace('nSfGxfEtzw5G72fVbfaowxsV46Pg1xIc','19')
final_dataset['course_id'] = final_dataset['course_id'].replace('Wm3dddHSynJ76EJV6hyLYKGGRL0JF3YK','20')
final_dataset['course_id'] = final_dataset['course_id'].replace('bWdj2GDclj5ofokWjzoa5jAwMkxCykd6','21')
final_dataset['course_id'] = final_dataset['course_id'].replace('7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx','22')
final_dataset['course_id'] = final_dataset['course_id'].replace('DABrJ6O4AotFwuAbfo1fuMj40VmMpPGX','23')
final_dataset['course_id'] = final_dataset['course_id'].replace('9zpXzW9zCfU8KGBWkhlsGH8B8czISH4J','24')
final_dataset['course_id'] = final_dataset['course_id'].replace('mTmmr5zd8l4wXhwiULwjSmSbi9ktcFmV','25')
final_dataset['course_id'] = final_dataset['course_id'].replace('q6A6QG7qMpyNcznyT2XaIxnfNGkZRxXl','26')
final_dataset['course_id'] = final_dataset['course_id'].replace('9Mq1P5hrrLw6Bh9X4W4ZjisQJDdxjz9x','27')
final_dataset['course_id'] = final_dataset['course_id'].replace('HbeAZjZFFQUe90oTP0RRO0PEtRAqU3kK','28')
final_dataset['course_id'] = final_dataset['course_id'].replace('G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu','29')
final_dataset['course_id'] = final_dataset['course_id'].replace('X78EhlW2JxwO1I6S3U4yZVwkEQpKXLOj','30')
final_dataset['course_id'] = final_dataset['course_id'].replace('TAYxxh39I2LZnftBpL0LfF2NxzrCKpkx','31')
final_dataset['course_id'] = final_dataset['course_id'].replace('RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt','32')
final_dataset['course_id'] = final_dataset['course_id'].replace('tXbz2ZYaRyb2ZsWUBPoYzAmisOhHQrYl','33')
final_dataset['course_id'] = final_dataset['course_id'].replace('5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2','34')
final_dataset['course_id'] = final_dataset['course_id'].replace('gvEwgd64UX4t3K7ftZwXiMkFuxFUAqQE','35')
final_dataset['course_id'] = final_dataset['course_id'].replace('KHPw0gmg1Ad3V07TqRpyBzA8mRjj7mkt','36')
final_dataset['course_id'] = final_dataset['course_id'].replace('WM572q68zD5VW8pcvVTc1RhhFUq3iRFN','37')

In [52]:
final_dataset

,enrollment_id,username,course_id,Target,source_browser,source_server,event_access,event_discussion,event_navigate,event_page_close,event_problem,event_video,event_wiki
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,1,0,195.0,119.0,107.0,0.0,25.0,66.0,87.0,29.0,0.0
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,22,0,200.0,88.0,79.0,26.0,14.0,22.0,138.0,9.0,0.0
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,1,0,19.0,80.0,64.0,0.0,15.0,10.0,6.0,4.0,0.0
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,22,0,431.0,202.0,226.0,34.0,30.0,87.0,170.0,86.0,0.0
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,4,0,6.0,17.0,12.0,0.0,5.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120537,200898,mAAuxtPoEddxQ2jPmf6WwqHOgdvhqrk2,24,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120538,200900,y6i20DJpIul6LihHwgZcWxbdAap5GcBP,24,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120539,200901,PPEydg4GXh52QanXuUYKbv8ENUSViBbd,24,1,3.0,5.0,3.0,0.0,2.0,2.0,0.0,1.0,0.0
120540,200904,7k4xZXZirLFjbh80SpWNqJdTubgGglfv,24,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
120541,200905,BkfFw6aGeg8z9X1r3mUU3zfbncCxICtg,24,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [31]:
final_dataset.to_csv('Finaltest.csv')